<div class="mycity row">
	<div class="col-md-8 col-md-offset-2 ">
		<div class="section-1">
			<div class="navigate title-text animated slideInDown">
				<P > <a  style="color:#fff" href="#">HOME</a> | <a  style="color:#fff" href="#/profile">PROFILE</a> | <a style="color:#fff" href="#/mycity">MY-CITY</a> </P>
			</div>
			<div class="background-pic-base animated slideInLeft" id="slideshow"> <!--{{selectedPic.url}}-->
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/1.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/2.jpg)'}">
				</div>
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/3.PNG)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/4.jpg)'}">
				</div>
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/5.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/6.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/7.jpg)'}">
				</div>
				<!-- <div class="background-control" ng-style="{'background-image':'url(images/capetown/8.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/9.jpg)'}">
				</div>
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/10.jpg)'}">
				</div> -->
			
			</div>
			<div class="name-base name animated slideInRight" align="center">
				Cape  Town
			</div>
			
		</div>
		<div class="section-2 animated slideInLeft">
			<div class="categories">
				<div id="flip-closer"class="title-text">Nearby Hotels</div>
				<div id="panel-closer">
					<div class="item" ng-style="{'background-image':'url(images/hotels/11.PNG)'}">
						<div class="hover-overlay">
						  <h3>Hotel</h3>
						  <p>Closer to you location</p>
						</div>
					</div>
					
					<div class="item" ng-style="{'background-image':'url(images/hotels/13.PNG)'}">
						<div class="hover-overlay">
						  <h3>Hotel</h3>
						  <p>Closer to you location</p>
						</div>
					</div>
					
					<div class="item" ng-style="{'background-image':'url(images/hotels/12.PNG)'}">
						<div class="hover-overlay">
						  <h3>Hotel</h3>
						  <p>Closer to you location</p>
						</div>
					</div>
					
					<div class="item" ng-style="{'background-image':'url(images/hotels/14.PNG)'}">
						<div class="hover-overlay">
						  <h3>Hotel</h3>
						  <p>Closer to you location</p>
						</div>
					</div>
				</div>
				
				<div id="flip-adv-exc"class="title-text">Adventures & Excursions</div>
				<div id="panel-adv-exc">
					<div class="item" ng-click="todo_2=false" ng-style="{'background-image':'url(images/todo/2.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_2==false">Click to add</h3>
						 <p  ng-hide="todo_2==false">To you to do list</p>
						 <h3 ng-show="todo_2==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_3=false" ng-style="{'background-image':'url(images/todo/3.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_3==false">Click to add</h3>
						 <p  ng-hide="todo_3==false">To you to do list</p>
						 <h3 ng-show="todo_3==false">Event added!</h3>
						</div>
					</div>
					
					
					<div class="item" ng-click="todo_4=false" ng-style="{'background-image':'url(images/todo/4.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_4==false">Click to add</h3>
						 <p  ng-hide="todo_4==false">To you to do list</p>
						 <h3 ng-show="todo_4==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_5=false" ng-style="{'background-image':'url(images/todo/5.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_5==false">Click to add</h3>
						 <p  ng-hide="todo_5==false">To you to do list</p>
						 <h3 ng-show="todo_5==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_6=false" ng-style="{'background-image':'url(images/todo/6.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_6==false">Click to add</h3>
						 <p  ng-hide="todo_6==false">To you to do list</p>
						 <h3 ng-show="todo_6==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_7=false" ng-style="{'background-image':'url(images/todo/7.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_7==false">Click to add</h3>
						 <p  ng-hide="todo_7==false">To you to do list</p>
						 <h3 ng-show="todo_7==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_8=false" ng-style="{'background-image':'url(images/todo/8.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_8==false">Click to add</h3>
						 <p  ng-hide="todo_8==false">To you to do list</p>
						 <h3 ng-show="todo_8==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_9=false" ng-style="{'background-image':'url(images/todo/9.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_9==false">Click to add</h3>
						 <p  ng-hide="todo_9==false">To you to do list</p>
						 <h3 ng-show="todo_9==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_10=false" ng-style="{'background-image':'url(images/todo/10.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_10==false">Click to add</h3>
						 <p  ng-hide="todo_10==false">To you to do list</p>
						 <h3 ng-show="todo_10==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="todo_11=false" ng-style="{'background-image':'url(images/todo/11.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="todo_11==false">Click to add</h3>
						 <p  ng-hide="todo_11==false">To you to do list</p>
						 <h3 ng-show="todo_11==false">Event added!</h3>
						</div>
					</div>
					
				</div>
				
				<div id="flip-tou-sig"class="title-text">Tours & Sightseeing</div>
				<div id="panel-tou-sig">
					<div class="item" ng-click="tours_1=false" ng-style="{'background-image':'url(images/tours/1.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="tours_1==false">Click to add</h3>
						 <p  ng-hide="tours_1==false">To you to do list</p>
						 <h3 ng-show="tours_1==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="tours_2=false" ng-style="{'background-image':'url(images/tours/2.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="tours_2==false">Click to add</h3>
						 <p  ng-hide="tours_2==false">To you to do list</p>
						 <h3 ng-show="tours_2==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="tours_3=false" ng-style="{'background-image':'url(images/tours/3.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="tours_3==false">Click to add</h3>
						 <p  ng-hide="tours_3==false">To you to do list</p>
						 <h3 ng-show="tours_3==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="tours_4=false" ng-style="{'background-image':'url(images/tours/4.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="tours_4==false">Click to add</h3>
						 <p  ng-hide="tours_4==false">To you to do list</p>
						 <h3 ng-show="tours_4==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="tours_5=false" ng-style="{'background-image':'url(images/tours/5.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="tours_5==false">Click to add</h3>
						 <p  ng-hide="tours_5==false">To you to do list</p>
						 <h3 ng-show="tours_5==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="tours_6=false" ng-style="{'background-image':'url(images/tours/6.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="tours_6==false">Click to add</h3>
						 <p  ng-hide="tours_6==false">To you to do list</p>
						 <h3 ng-show="tours_6==false">Event added!</h3>
						</div>
					</div>
				</div>
				
				<div id="flip-att-sho"class="title-text">Attractions & Shows</div>
				<div id="panel-att-sho">
					<div class="item" ng-click="shows_1=false" ng-style="{'background-image':'url(images/shows/1.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="shows_1==false">Click to add</h3>
						 <p  ng-hide="shows_1==false">To you to do list</p>
						 <h3 ng-show="shows_1==false">Event added!</h3>
						</div>
					</div>
					
					<div class="item" ng-click="shows_2=false" ng-style="{'background-image':'url(images/shows/2.PNG)'}">
						<div class="hover-overlay">
						 <h3 ng-hide="shows_2==false">Click to add</h3>
						 <p  ng-hide="shows_2==false">To you to do list</p>
						 <h3 ng-show="shows_2==false">Event added!</h3>
						</div>
					</div>
				</div>
			
			</div>
			
		</div>
		
		
	</div>
</div>